{% extends "base.html" %}

{% block content %}
<h1>病人詳細資料</h1>

<table class="table">
  <tr><th>ID</th><td>{{ patient.id }}</td></tr>
  <tr><th>姓名</th><td>{{ patient.full_name }}</td></tr>
  <tr><th>病歷號</th><td>{{ patient.chart_no }}</td></tr>
  <tr><th>身分證</th><td>{{ patient.national_id }}</td></tr>
  <tr><th>健保卡號</th><td>{{ patient.nhi_no }}</td></tr>
  <tr><th>生日</th><td>{{ patient.birth_date }}</td></tr>
  <tr><th>電話</th><td>{{ patient.phone }}</td></tr>
  <tr><th>地址</th><td>{{ patient.address }}</td></tr>
</table>

<p>
  <a href="{% url 'patients:patient_update' patient.pk %}" class="btn btn-secondary">編輯</a>
  <a href="{% url 'patients:patient_list' %}" class="btn btn-link">回列表</a>
</p>

{% endblock %}
