<!DOCTYPE html>
{% load static %}
<html lang="zh-Hant">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}門診系統{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/hospital_theme.css' %}">
</head>
<body>
  <div>
    <a href="/">首頁</a>
    {% if user.is_authenticated %}
      ｜ {{ user.username }} ｜ <a href="/logout/">登出</a>
    {% else %}
      ｜ <a href="/login/">登入</a>
    {% endif %}
  </div>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>
